/* Background */ .chroma { color: #d0d0d0; background-color: #202020 }
/* Other */ .chroma .x { color: #f8f8f2 }
/* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #686868 }
/* Keyword */ .chroma .k { color: #86d8f9; font-weight: normal; font-style: italic; }
/* KeywordConstant */ .chroma .kc { color: #bf91df; font-weight: normal }
/* KeywordDeclaration */ .chroma .kd { color: #bf91df; font-weight: normal }
/* KeywordNamespace */ .chroma .kn { color: #bf91df; font-weight: normal }
/* KeywordPseudo */ .chroma .kp { color: #bf91df }
/* KeywordReserved */ .chroma .kr { color: #bf91df; font-weight: normal }
/* KeywordType */ .chroma .kt { color: #bf91df; font-weight: normal }
/* Name */ .chroma .n { color: #f8f8f2 }
/* NameAttribute */ .chroma .na { color: #bbbbbb }
/* NameBuiltin */ .chroma .nb { color: #fdc96a }
/* NameBuiltinPseudo */ .chroma .bp { color: #f8f8f2 }
/* NameClass */ .chroma .nc { color: #447fcf; text-decoration: underline }
/* NameConstant */ .chroma .no { color: #40ffff }
/* NameDecorator */ .chroma .nd { color: #ffa500 }
/* NameEntity */ .chroma .ni { color: #f8f8f2 }
/* NameException */ .chroma .ne { color: #bbbbbb }
/* NameFunction */ .chroma .nf { color: #447fcf }
/* NameFunctionMagic */ .chroma .fm { color: #f8f8f2 }
/* NameLabel */ .chroma .nl { color: #f8f8f2 }
/* NameNamespace */ .chroma .nn { color: #447fcf; text-decoration: underline }
/* NameOther */ .chroma .nx { color: #f8f8f2 }
/* NameProperty */ .chroma .py { color: #f8f8f2 }
/* NameTag */ .chroma .nt { color: #9cb4bd; font-weight: bold }
/* NameVariable */ .chroma .nv { color: #40ffff }
/* NameVariableClass */ .chroma .vc { color: #f8f8f2 }
/* NameVariableGlobal */ .chroma .vg { color: #f8f8f2 }
/* NameVariableInstance */ .chroma .vi { color: #f8f8f2 }
/* NameVariableMagic */ .chroma .vm { color: #f8f8f2 }
/* Literal */ .chroma .l { color: #f8f8f2 }
/* LiteralDate */ .chroma .ld { color: #f8f8f2 }
/* LiteralString */ .chroma .s { color: #c3e88d }
/* LiteralStringAffix */ .chroma .sa { color: #c3e88d }
/* LiteralStringBacktick */ .chroma .sb { color: #c3e88d }
/* LiteralStringChar */ .chroma .sc { color: #c3e88d }
/* LiteralStringDelimiter */ .chroma .dl { color: #c3e88d }
/* LiteralStringDoc */ .chroma .sd { color: #c3e88d }
/* LiteralStringDouble */ .chroma .s2 { color: #c3e88d }
/* LiteralStringEscape */ .chroma .se { color: #c3e88d }
/* LiteralStringHeredoc */ .chroma .sh { color: #c3e88d }
/* LiteralStringInterpol */ .chroma .si { color: #c3e88d }
/* LiteralStringOther */ .chroma .sx { color: #c3e88d }
/* LiteralStringRegex */ .chroma .sr { color: #86d8f9; }
/* LiteralStringSingle */ .chroma .s1 { color: #c3e88d }
/* LiteralStringSymbol */ .chroma .ss { color: #c3e88d }
/* LiteralNumber */ .chroma .m { color: #3677a9 }
/* LiteralNumberBin */ .chroma .mb { color: #3677a9 }
/* LiteralNumberFloat */ .chroma .mf { color: #3677a9 }
/* LiteralNumberHex */ .chroma .mh { color: #3677a9 }
/* LiteralNumberInteger */ .chroma .mi { color: #3677a9 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #3677a9 }
/* LiteralNumberOct */ .chroma .mo { color: #3677a9 }
/* Operator */ .chroma .o { color: #86d8f9 }
/* OperatorWord */ .chroma .ow { color: #6ab825; font-weight: bold }
/* Punctuation */ .chroma .p { color: #f8f8f2 }
/* Comment */ .chroma .c { color: #999999; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #999999; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #999999; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #999999; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #e50808; background-color: #520000; font-weight: bold }
/* CommentPreproc */ .chroma .cp { color: #cd2828; font-weight: bold }
/* CommentPreprocFile */ .chroma .cpf { color: #cd2828; font-weight: bold }
/* Generic */ .chroma .g { color: #f8f8f2 }
/* GenericDeleted */ .chroma .gd { color: #d22323 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #d22323 }
/* GenericHeading */ .chroma .gh { color: #ffffff; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #589819 }
/* GenericOutput */ .chroma .go { color: #cccccc }
/* GenericPrompt */ .chroma .gp { color: #aaaaaa }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #ffffff; text-decoration: underline }
/* GenericTraceback */ .chroma .gt { color: #d22323 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #666666 }
